# Output & checkpoints
**/out/
**/history/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Archives
*.tar.gz
*.zip

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pretrained models
**/pretrained/
stargan_v2/feature_data/
stargan_v2/weights/
stargan_v2/preview_out/
asyrp/weights/
asyrp/out/
ledits/out/
swiftedit/out/
pix2pix-turbo/out/
